@{
    ViewBag.Title = "Index";
}


<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/datatable/datatables.min.js"></script>
    <script src="~/datepicker/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/mask/jquery.mask.min.js"></script>

</head>

<br />
<br />
<br />
<br />
<h1>Tabel Transaksi</h1>
<div class="row">
    <div class="col-md-6 offset-4">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>No Faktur</td>
                    <td>: </td>
                    <td><input type="text" name="faktur" id="idInpNoFaktur" class="form-control" placeholder="No Faktur" /></td>
                </tr>
                <tr>
                    <td>Tanggal Penjualan</td>
                    <td>:</td>
                    <td><input type="text" name="tgl" id="idInpTglPenjualan" class="form-control" placeholder="Tanggal Penjualan" value=""/></td>
                </tr>
            </table>
        </div>
        <div class="table-responsive">
            <table id="idTblData" class="table table-bordered">
                <thead>
                    <tr align="center">
                        <td>Nama</td>
                        <td>Harga</td>
                        <td>Aksi</td>
                    </tr>
                </thead>
                <tbody id="idTbodyBarang" align="center"></tbody>
            </table>

            <script>

                    $(document).ready(function () {
                    var vDataBarang = [
            { 'ID': 1, 'TokoID': 1, 'KodeBarang': "KB001", 'NamaBarang': "Panadol", 'AsalPabrik': "Bogor", 'harga': 3000, 'JmlBarang': 30, 'LamaKadaluarsa': 10 }
            , { 'ID': 2, 'TokoID': 1, 'KodeBarang': "KB002", 'NamaBarang': "Dekolgen", 'AsalPabrik': "Bandung", 'harga': 2500, 'JmlBarang': 5, 'LamaKadaluarsa': 40 }
            , { 'ID': 3, 'TokoID': 1, 'KodeBarang': "KB003", 'NamaBarang': "Promag", 'AsalPabrik': "Jakarta", 'harga': 2000, 'JmlBarang': 12, 'LamaKadaluarsa': 15 }
            , { 'ID': 4, 'TokoID': 2, 'KodeBarang': "KB004", 'NamaBarang': "Vit C", 'AsalPabrik': "Yogya", 'harga': 500, 'JmlBarang': 23, 'LamaKadaluarsa': 20 }
                    ]

                    $('#idInpTglPenjualan').datepicker({
                        minDate: 0,
                        dateFormat: "yy-mm-dd"
                    }).datepicker("setDate", new Date());

                    $('#idInpNoFaktur').mask('NFK-0000');

                    var data = "";
                    $.each(vDataBarang, function (i, d) { //menjahit data ke dalam tabel
                        data = data + '<tr>' +
                            '<td>' + d.NamaBarang + '</td>' +
                            '<td>' + d.harga + '</td>' +
                            '<td>' +
                            '<button type="button" class="btn btn-primary"  ><span class="glyphicon glyphicon-plus clAksiBarang" aria-hidden="true" dataBarang=\'' + JSON.stringify(d) + '\'  > </span> </button>' +
                            '</td>' +
                            '</tr>';
                    });
                    $('#idTbodyBarang').append(data); //masukan data ke dalam tabel
                    $('#idTblData').DataTable(); //pilih id table
                    debugger; //memberhentikan javascript


                    var jmlClick = 0;
                    var vJmlBarangs = 1;
                    var vJmlBarang = 1;

                    $('.clAksiBarang').click(function () {

                        var vDataBarang = JSON.parse($(this).attr('dataBarang'));
                        var data = "";
                        var vHargaBarang = vDataBarang.harga;
                        var vCtr = 0;
                        var vTkp = true;
                        if (jmlClick == 0) {

                            debugger;
                            jmlClick++;
                            data = data + '<tr>' +
                            '<td>' + '<input type="text" name="nama" dataID="' + vDataBarang.ID + '" class="form-control clNamaBarang" value=" ' + vDataBarang.NamaBarang + ' " />' + '</td>' +
                            '<td>' + '<input type="text" name="jml" class="form-control clJmlBarang" value=" ' + vJmlBarang + ' " />' + '</td>' +
                            '<td>' + '<input type="text" name="harga" class="form-control clHargaBarang" value=" ' + vHargaBarang + ' " />' + '</td>' +
                            '<td>' +
                            '<button type="button" class="btn btn-danger clDeleteBarang"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>' +
                            '</td>' +
                            '</tr>';
                            $('#idTbodyBarang2').append(data); //masukan data ke dalam tabel

                        }
                        else {

                            $('.clNamaBarang').each(function (i, d) {

                                debugger;

                                if (vDataBarang.ID == parseInt($(this).attr('dataID'))) {

                                    vTkp = false;
                                }                        
                            });

                            if (vTkp == false) {

                                    vJmlBarangs = vJmlBarangs + 1;
                                    $('.clJmlBarang').val(vJmlBarangs);
                                    vHargaBarang = vJmlBarangs * vHargaBarang;
                                    $('.clHargaBarang').val(vHargaBarang);

                                    vCtr = 1;
                                    vTkp = true;

                            } else {

                                    debugger;
                                    vCtr = 0;
                            }

                            if (vCtr==0) {
                                    data = data + '<tr>' +
                                    '<td>' + '<input type="text" name="nama" dataID="' + vDataBarang.ID + '" class="form-control clNamaBarang" value=" ' + vDataBarang.NamaBarang + ' " />' + '</td>' +
                                    '<td>' + '<input type="text" name="jml" class="form-control clJmlBarang" value=" ' + vJmlBarang + ' " />' + '</td>' +
                                    '<td>' + '<input type="text" name="harga" class="form-control clHargaBarang" value=" ' + vHargaBarang + ' " />' + '</td>' +
                                    '<td>' +
                                    '<button type="button" class="btn btn-danger clDeleteBarang"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>' +
                                    '</td>' +
                                    '</tr>';
                                    $('#idTbodyBarang2').append(data); //masukan data ke dalam tabel
                            }
                        }


                        $('.clDeleteBarang').click(function () {
                            $(this).parent().parent().remove();
                        });
                    });
                });

            </script>


        </div>
    </div>
    <div class="col-md-6 offset-4">
        <div class="table-responsive">
                <table id="idTblData2" class="table ">
                    <thead>
                        <tr align="center">
                            <td>Nama</td>
                            <td>Jumlah</td>
                            <td>Subtotal</td>
                            <td>Aksi</td>
                        </tr>
                    </thead>
                    <tbody id="idTbodyBarang2" align="center">

                    </tbody>
                </table>
    </div>

        <div class="table-responsive">
            <table id="idTblData2" class="table ">
                <thead>
                </thead>
                <tbody id="idTbodyBarang3" align="center">
                    <tr>
                        <td>
                            <br />
                            <br />
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td width="250"><input type="text" name="total" class="form-control" placeholder="Total Harga" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td width="250"><input type="text" name="bayar" class="form-control" placeholder="Bayar" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td width="250"><input type="text" name="sisa" class="form-control" placeholder="Sisa" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td width="250"><button type="button" class="btn btn-success">Submit</button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>